<div class="container">
  <div class="title">
    <h1 class="title_text">{{'HEADER.title' | translate}}</h1>
    <mat-radio-group color="primary" (change)="changeLang($event)">
      @for(lang of langs; track lang){
        <mat-radio-button value="{{lang}}" (click) = "translate.use(lang.toLowerCase())" [checked] = "lang === activeLang">{{lang}}</mat-radio-button>
      }
      
    </mat-radio-group>
  </div>
  <nav mat-tab-nav-bar [tabPanel] = "tabPanel" class="nav-tabs">
      <a mat-tab-link
        (click)="activeLink = links[0]"
        [active]="activeLink == links[0]"
        [routerLink]="[links[0].path]"
        > {{'HEADER.countries' | translate}}</a>
        <a mat-tab-link
        (click)="activeLink = links[1]"
        [active]="activeLink == links[1]"
        [routerLink]="[links[1].path]"
        > {{'HEADER.cities' | translate}}</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <hr>
  
</div>
