@import '@angular/material/prebuilt-themes/indigo-pink.css';

.wrapper{
    margin: 0 auto;
    margin-top: 32px;
    flex-direction: column;
    width: 1200px;
}

.mat-dialog-container{
    border-radius: 50px !important;
}