.mat-elevation-z8{
    box-shadow: none;
}

.table-wrapper{
    display: flex;
    flex-direction: column;
}

::ng-deep mat-paginator{
    width: 400px;
}


#search-form{
    width: 255px;
}

a{
    color: black;
}