<div class="Dialog">
  <div class="Dialog_container">
    <h2 mat-dialog-title>{{data.name}}</h2>
    <div class="Dialog__content">
        <div>
          <label for="">{{'CITIES.country' | translate}}</label>
          <p>{{data.country}}</p>
          <label for="">{{'CITIES.population' | translate}}</label>
          <p>{{data.population | number}}</p>
          <label for="">{{'CITIES.longitude' | translate}}</label>
          <p>{{data.longitude}}</p>
        </div>
        <div>
          <label>{{'CITIES.region' | translate}}</label>
          <p>{{data.region}}</p>
          <label for="">{{'CITIES.date' | translate}}</label>
          <p>{{data.date ? (data.date).toLocaleDateString("en-US") : "не найдено"}}</p>
          <label for="">{{'CITIES.latitude' | translate}}</label>
          <p>{{data.latitude}}</p>
        </div>
    </div>
    <div class="Dialog__btn">
      <button mat-stroked-button color="primary" mat-dialog-close>{{'CITIES.close' | translate}}</button>
    </div>
  </div>
</div>
